.prduct-details-container {
  width: 100%;
  height: 100vh;
  background: #ededed;
  margin-left: 90px;
  overflow-y: scroll;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  overflow-x: hidden;
}
.back{
  width: 100%;
  height: auto;
  margin-left: 90px;
  display: flex;
 

}

.back a{
  text-decoration: none;
  color: black;
}

.details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 70px;
}

.product-details-center {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.images-deatils {
  width: 339.66px;
  height: 334px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 5px;
}

.all-image-product {
  width: 49.66px;
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.all-image-left {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #ffffff;
  border-radius: 13px;
}

.all-image-left img {
  width: 75%;
  aspect-ratio: 3/2;
  object-fit: contain;
  background: #ffffff;
}

.images-deatils {
  width: auto;
  height: 100%;
}

.all-image-product {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.all-image-product img {
  width: 100px;
  height: 100px;
}

.img-select {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  background: #ffffff;
  border-radius: 13px;
  box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
}

.img-select img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.img-main {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.product-description {
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}

.stars {
  width: 243px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px;
  gap: 8px;
  color: #12805d;
}

.stars p {
  display: flex;
  align-items: center;
  color: #12805d !important;
}

.product-description h2 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 40.04px;
  line-height: 74px;
  color: #1a1f16;
}

.product-description p {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1a1f16;
  text-align: justify;
}

.button-add-cart {
  width: 100%;
  height: 70px;
  border: none;
  font-size: 24px;
  background: #1a1f16;
  border-radius: 14px;
  color: white;
  margin-top: 5px;
}
.product-price {
  width: 100%;
  height: auto;
  display: flex;
  gap: 200px;
}

.product-price div p {
  font-size: 18px;
}

.quantity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quantity-container button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.quantity-container input {
  width: 50px;
  height: 30px;
  text-align: center;
}

.other-prodcuts {
  width: 100%;
  height:100%;
  padding: 20px;
}

.other-products h3 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 24px;
  color: #1a1f16;
  padding-bottom: 30px;
  margin-left: 30px;
}

.line-separate {
  width: 100%;
  height: 1px;
  background: black;
  margin-bottom: 30px;
}

.list-product-other {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.img-category-product {
  width: 280px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-product-other li {
  width: 340px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
  border-radius: 5px;
  background: #1A1F1680;
}

.list-product-other li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.img-category-product {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
.img-category-product img {
  width: 75%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.line-card-category {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.075);
}

.price-category {
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.add-cart-category button {
  width: 40px;
  height: 40px;
  background: #1a1f16;
  border-radius: 9px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
