.prduct-details-container {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}

.product-details-center {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-main img {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.images-deatils {
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 1f);
}

.img-select {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.img-select img {
  width: auto;
  height: 200px;
}

.img-main {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.all-image-product {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.all-image-product img {
  width: 100px;
  height: 100px;
}

.prodcut-description {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 10px;
  text-align: justify;
}

.prodcut-description h2 {
  font-size: 20px;
  font-weight: 900;
}

.prodcut-description p {
  font-size: 16px;
  font-weight: 400;
}

.button-add-cart{
  width: 100%;
  height: 70px;
  border: none;
  font-size: 24px;
  background:#f85555 ;
  color: white;
  margin-top: 5px;
}
.prodcut-price {
  width: 100%;
  height: auto;
  display: flex;
  gap: 200px;
}

.quantity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quantity-container button {
  width: 30px;
  height: 30px;
  border: none;
}

.quantity-container input {
  width: 50px;
  height: 30px;
}

.other-prodcuts {
  width: 100%;
  height: auto;
  padding: 20px;
}

.other-prodcuts h3{
  font-size: 34px;
  margin-bottom: 20px;
}

.list-product-other{
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.img-category-product {
  width: 280px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-product-other li {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 5px;
}

.list-product-other li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.img-category-product img {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-card-category{
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.075);
}

.price-category {
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.add-cart-category button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #f85555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


