.purchases-main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.purchase-container{
  width: 900px;
  height: auto;
  padding-top: 20px;
  

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.text-purchases-top{
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;

}

.purchase-item{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}

.order-text{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px;
}

.product-purchase{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
 
}
.title-product{
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  margin: 5px;
}

.quanty{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
}

.price-box{
  width: 90px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}